/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-font-size:20px;
	-fx-font-weight: bold;
	-fx-background-image:url("/application/libbg2.jpg");
	-fx-background-size: stretch;
}


/*stylesheets="@../application/application.css"*/